@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import 'bio';
@import 'technologies';
@import 'projects';
@import 'contact';
@import 'admin';
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

body {
  font-family: 'Sora', sans-serif;
  margin: 0 auto;
  background: url(../assets/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main-container {
  width: 95%;
  margin: 0 auto;
}
