.projects-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#card {
  width: 25em;
  height: 33em;
  margin: 1em;
  text-align: center;
  border:2px solid #dadada;
  border-radius:7px;
  outline:none;
  border-color: purple;
  box-shadow:0 0 10px purple;
}

.project-img {
  height: 14em;
}

// .card-body {
//   background-color: #22b6dc;
// }

.project-icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: auto;
}

.project-icon {
  width: 2.5em;
  margin: 1em;
}

.card-title {
  color: purple;
}
